- application_setting = local_assigns.fetch(:application_setting)

= form_for application_setting, url: integrations_admin_application_settings_path(anchor: 'js-third-party-offers-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :hide_third_party_offers, class: 'form-check-input'
        = f.label :hide_third_party_offers, class: 'form-check-label' do
          Do not display offers from third parties within GitLab

  = f.submit '保存修改', class: "btn btn-success"
