- breadcrumb_title "Repository"
- page_title @blob.path, @ref
- signatures_path = namespace_project_signatures_path(namespace_id: @project.namespace.full_path, project_id: @project.path, id: @last_commit)

.js-signature-container{ data: { 'signatures-path': signatures_path } }

= render 'projects/last_push'

#tree-holder.tree-holder
  = render 'blob', blob: @blob

  - if can_modify_blob?(@blob)
    = render 'projects/blob/remove'

  - title = "替换 #{@blob.name}"
  = render 'projects/blob/upload', title: title, placeholder: title, button_title: '替换文件', form_path: project_update_blob_path(@project, @id), method: :put
